/* General Container */
.container, .ques_container {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% 15%;
  border-radius: 50px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

/* Header Styles */
h1 {
  font-size: 6em;
  color: #007BFF; 
  margin: 0;
  padding: 0;
}

/* Link Styles */
a {
  background-color: white;
  color: black;
  border: 2px solid #007BFF; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 45px;
  transition: all 0.3s ease; /* added for smooth transition */
}

a:hover, a:active {
  background-color: #007BFF; /* Blue */
  color: white;
}

/* Question Container */
.ques_container {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 20px;
  color: #007BFF; /* Blue */
}

/* Additional classes */
.info, .textques, .textscore {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #007BFF; /* Blue */
  padding: 20px;
}

/* Progress Bar */
#progressBar {
  width: 10rem;
  height: 1rem;
  border: 0.2rem solid #FFD700; /* Gold */
  border-radius: 50px;
}

#progressBarFull {
  height: 100%;
  background-color: #FFD700; /* Gold */
}

/* Score Area */
.textscore p, .textscore h2 {
  margin: 0;
}

.scoreAchievers {
  font-size: 1.5rem;
  list-style-type: none;
}

/* Choices */
.choices p {
  color: black;
  border: 2px solid #007BFF; /* Blue */
  padding: 5px 20px;
  border-radius: 50px;
  font-weight: bold;
}

.choices p:hover, .choices p:active {
  color: #FFD700; /* Gold */
}

/* Correct and Incorrect Markers */
.correct, .incorrect {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50px;
}

.correct p {
  background-color: #00FF00; 
	border-radius: 12px; 
	color: white; 
}

.incorrect p {
  background-color: #FF0000; 
  border-radius: 12px; 
  color: white; 
}

#finalMessage {
    font-size: 2em; 
    font-weight: bold;
    color: #3498db; 
}

form {
    width: 80%;          /* Adjusts the width */
    margin: 0 auto;      /* Centers the form horizontally */
    padding: 20px;       /* Adds some padding for breathing room */
    font-size: 2.2em;    /* Increase font size to make it more readable */
    border-radius: 10px; /* Adds rounded corners if you like that look */
}
#username {
    font-size: .5em;  /* Increase the font size */
    padding: 10px;     /* Add some padding for comfort */
    width: 100%;       /* Takes up the full width of its container */
}

h2#end-text {
    font-size: 1em;    /* Make the 'Enter your name' text larger */
    margin-bottom: 10px;  /* Add a little space below the text */
}

#scoreBtn {
  padding: 4px 8px;  /* Even smaller padding */
  font-size: 0.8em; /* Smaller font size */
	border-radius: 6px;
	background-color: #007BFF; /* Blue */
	color: white;
	border: 2px solid #007BFF; /* Blue */
	margin-top: 10px;
}

.correct-text {
    background-color: green;
}

/* Mobile Responsiveness starts here */
@media only screen and (max-width: 768px) {

  /* General Container */
  .container, .ques_container {
    width: 90vw;
    height: auto;  
    margin: 2% 5%;
    font-size: 16px; /* Smaller text */
  }

  /* Header */
  h1 {
    font-size: 3em;  /* Smaller header */
  }

  /* Links */
  a {
    font-size: 25px;  /* Smaller links */
    padding: 8px 16px;
  }

  /* Additional classes */
  .info, .textques, .textscore {
    font-size: 18px;  /* Smaller text */
  }

  /* Progress Bar */
  #progressBar {
    width: 8rem; /* Smaller width */
  }

  /* Choices */
  .choices p {
    padding: 4px 12px;  /* Smaller padding */
  }

  /* Score Area */
  .textscore p, .textscore h2 {
    font-size: 1rem;  /* Smaller text */
  }
  
  /* Score Button */
  #scoreBtn {
    padding: 4px 8px;  /* Even smaller padding */
    font-size: 0.8em;  /* Smaller font size */
  }

  /* Form Adjustments */
  form {
    font-size: 1.5em;  /* Smaller font size for the form */
  }
  
  #username {
    font-size: .8em;  /* Smaller input text */
    padding: 8px;     /* Smaller padding */
  }

  h2#end-text {
    font-size: .8em;  /* Smaller 'Enter your name' text */
  }
}
